---
import Zona from "../components/Zona.astro";
import Bola from "../components/Bola.astro";
import calculaJugada from './calculaJugada.js';

let gameData = [];
if (Astro.cookies.has("ruleta")) {
	let cookie = Astro.cookies.get("ruleta");
	gameData = JSON.parse(cookie.value); // ull! el valor està a .value
} else {
	let ob = {saldo:150, boles: [], apostes: []}
	Astro.cookies.set("ruleta", JSON.stringify(ob), { path: "/" });
	return Astro.redirect("/");
}

let {boles, apostes, saldo} = gameData;

let aposta = apostes[0]

let increment = 0;
if (aposta) increment = calculaJugada(aposta, boles[0])


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Ruleta</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	</head>
	<body>
        <div class="container">

		<h1 class="text-center">Astro RULETA</h1>
        <hr>

		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col col-12">
						<Zona saldo={saldo} aposta={aposta} valor="0"	/>
					</div>
					<div class="col col-4">
						<Zona saldo={saldo} aposta={aposta} valor="1"	/>
					</div>
					<div class="col col-4">
						<Zona saldo={saldo} aposta={aposta} valor="2"	/>
					</div>
					<div class="col col-4">
						<Zona saldo={saldo} aposta={aposta} valor="3"	/>
					</div>
					<div class="col col-4">
						<Zona saldo={saldo} aposta={aposta} valor="4"	/>
					</div>
					<div class="col col-4">
						<Zona saldo={saldo} aposta={aposta} valor="5"	/>
					</div>
					<div class="col col-4">
						<Zona saldo={saldo} aposta={aposta} valor="6"	/>
					</div>
					<div class="col col-4">
						<Zona saldo={saldo} aposta={aposta} valor="7"	/>
					</div>
					<div class="col col-4">
						<Zona saldo={saldo} aposta={aposta} valor="8"	/>
					</div>
					<div class="col col-4">
						<Zona saldo={saldo} aposta={aposta} valor="9"	/>
					</div>
					<div class="col col-4">
					</div>
					<div class="col col-4">
						<Zona saldo={saldo} aposta={aposta} valor="10"	/>
					</div>
			
			
				</div>
			
				<div class="row">
					<div class="col-6">
						<Zona saldo={saldo} aposta={aposta} valor="parell" />
					</div>
					<div class="col-6">
						<Zona saldo={saldo} aposta={aposta} valor="imparell" />
					</div>
					<div class="col-6">
						<Zona saldo={saldo} aposta={aposta} valor="negre" />
					</div>
					<div class="col-6">
						<Zona saldo={saldo} aposta={aposta} valor="vermell" />
					</div>
				</div>
				
			</div>
			<div class="col">
				{
					boles.length ? (
						<div>
							<div class="text-center">
								<Bola valor={boles[0]} mida={80}/>
							</div>
							<br>
							<div class="row">

							{boles.slice(1,).map( e => <div class="col-1"><Bola valor={e} mida={40}/></div>)}
							</div>
							<br />
							<br />
				
							 	<h1 class="text-center">Saldo: {saldo}€ ({increment})</h1> 
							
						
						</div>
						)
						: null
				}
				{
					(saldo < 0 || saldo == 0) ? 
					(
					<h1 class="text-danger text-center">GAME OVER</h1>
					<p class="text-center">
		<a  href="/neteja">Reiniciar</a>
		</p>
					)
					:
					null
				}

			</div>
		</div>


		<hr>
		<p class="text-center">
		<a  href="/historial">Historial de jugades</a>
		</p>
	</div>

	</body>
</html>
